---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Robots Limpiacristales: Ventanas Impecables sin Esfuerzo" description="Descubre los mejores robots limpiacristales para dejar tus ventanas y azulejos relucientes. Guía completa con modelos de Cecotec, Xiaomi, Hobot y más. ¡Tecnología para una limpieza sin límites!" >
  <main>
    <section class="container category-header">
        
        <h1 class="category-title" >Robots Limpiacristales: Tu Aliado para Ventanas y Superficies Brillantes</h1>
        
        <p class="category-p">Estos dispositivos están diseñados para adherirse a las ventanas, espejos, azulejos y otras superficies lisas</p>
    </section>
       
</main>
</Layout>

<style is:inline>
    .category-header {
    background-image: url("https://images.ecestaticos.com/6qlWEPjcMrHmDjc2LhzgZK1PQlQ=/0x0:1121x747/600x315/filters:fill(white):format(jpg):quality(99)/f.elconfidencial.com/original/2a8/d73/595/2a8d73595c539c8a9e9dfb1c8d8fdc77.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Necesario para posicionar el overlay */
    width: unset;
    padding: 2rem 1rem ;
}

.category-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Color negro con 50% de opacidad */
    z-index: 1; /* Coloca el overlay encima de la imagen */
}

.category-header > * {
    position: relative;
    z-index: 2; /* Coloca el contenido encima del overlay */
}
.category-title, .category-p{
    color: var(--light);
}
.category-p{
    opacity: .6;
    margin-top: -20px;
    text-align: center;
}
@media (min-width:768px){
    .category-header {
        width: inherit;
        padding: 7rem 1rem;
    }
}
</style>